body {
  background-color: rgb(13, 17, 23);
}

div {
  font-family: Roboto, Arial;
}

.header {
  color: white;
  font-weight: 500;
  font-size: 40px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-row {
  
}